.container {
    height: 200px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #AAA;
    position: relative;
    top: calc(50vh - 200px);
}

.container--center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
}

